@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --background: hsl(30, 38%, 92%);
    --header: hsl(212, 21%, 14%);
    --cardBackground: hsl(0, 0%, 100%);
    --pricing: hsl(158, 36%, 37%);
    --fontColor: hsl(228, 12%, 48%);
}
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-size: 14px;
}
body {
    background-color: var(--background);
}

h1 {
    color: var(--header);
    font-family: 'Fraunces', serif;
}

h2 {
    color: var(--pricing);
    font-family: 'Fraunces', serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--fontColor);
}

/* Main Styles Section */

/* Mobile first styles go here */
.main-card {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto;
    height: 100vh;
    width: 100vw;
}

.image {
    width: 375px;
    height: 288px;
    object-fit: cover;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.content {
    background-color: var(--cardBackground);
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

.title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    padding-top: 1.1em;
    padding-left: 1.8em;
}

h1 {
    font-weight: 700;
    font-size: 2.4em;
    text-align: left;
    padding-left: 0.6em;
    width: 350px;
    margin-top: 0px;
    line-height: 1;
}

.main-content {
    text-align: left;
    line-height: 1.8em;
    width: 350px;
    padding-left: 1.8em;
    margin-top: -12px;
    padding-right: 32px;
}

.primary-price {
    font-size: 2.4em;
    padding-left: 0.7em;
}

.secondary-price {
    float: right;
    padding-right: 150px;
    margin-top: -56px;
    text-decoration: line-through;
}

.btn {
    margin: auto;
    display: flex;
    background-color: var(--pricing);
    border: none;
    font-weight: bold;
    color: var(--cardBackground);
    padding: 17px 110px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: -13px;
    font-family: 'Montserrat', sans-serif; 
}

.fa-solid {
    padding-right: 10px;
}

@media screen and (min-width: 800px) {
    /* Desktop styles go here */
    .main-card {
        display: flex;
        flex-direction: row;
        max-height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .image {
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        width: 100vw;
        height: 55vh;
    }
    .content {
        height: 55vh;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 0;
    }
    .title {
        padding-top: 20px;
        padding-left: 36px;
    }
    h1 {
        padding-left: 33px;
        padding-top: 10px;
        width: 250px;
    }
    .main-content {
        padding-top: 7px;
        width: 270px;
        margin-right: 40px;
        padding-left: 38px;
    }
    .primary-price {
        padding-left: 38px;
    }
    .secondary-price {
        padding-right: 70px;
    }
    .btn {
        padding: 17px 65px;
        margin-top: -9px;
        margin-left: 38px;
        color: var(--cardBackground);
    }
  }


